@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}



.items {
    padding: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    background-color: darkolivegreen;
}

.orinoco, h1 {
    padding-left: 40px;
    position: relative;
    color: white;
}



.nav-link2 {
 color: rgb(252, 252, 252);
}

.paragraph {
    text-align: center;
    margin-top: 120px;
    font-size: 3rem;
}

footer {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: darkolivegreen;
    list-style-type: none;
}

.nav-item {
    top: 0px;
    padding: 20px;
}

h3, h4, p {
    text-align: center;
}
.singleProductPage {
    border-style: solid;
    border-width: 0.1em;
    border-color: darkolivegreen;
}

#price {
  color: blue;
}


.btn-success{
    width: 160px;
    position: relative;
    top: 50%;
    left: 45%;
}

.btn-warning {
    width: 160px;
    position: relative;
    top: 50%;
    left: 45%;
}
img {
    padding: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.singleDiv {
    margin-top: 120px;
    margin-bottom: 20px;
}

.basketPrice {
    margin-bottom: 20px;
}




.section-header {
    padding-top: 100px;
}


.basket {
    margin-top: 100px;
}



.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}



.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}


.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.section-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .cart-item {
    display: flex;
    flex-direction: row;
} */

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 125px;
    height: auto;
    border-radius: 20px;
}

/*  Input arrows hidden */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*  Input arrows hidden */


.cart-quantity-input {
    margin: 10px;
}

#orderForm {
    margin-top: 100px;
    margin-bottom: 100px;
}


#formAlign {
    padding-bottom: 50px;
}

/* Form validation */

.bd {
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	margin: 0;
}

.container2 {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.form {
	padding: 30px 40px;	
}

.form h3 {
    padding-bottom: 20px;
}
.form-control2 {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control2 label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control2 input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control2 input:focus {
	outline: 0;
	border-color: #777;
}

.form-control2.success input {
	border-color: #2ecc71;
}

.form-control2.error input {
	border-color: #e74c3c;
}

.form-control2 i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control2.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control2.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control2 small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control2.error small {
	visibility: visible;
}


/* Form validation */

#paddingBottom {
    padding-bottom: 200px;
}


/* confirmation page */
#confirmation {
    margin-top: 160px;
}
/* confirmation page */


@media (max-width: 468px) {
    
    .paragraph {
        font-size: 2em;
    }

    .cart-item-title {
        display: none;
    }

    .cart-item-image {
        padding: 0;
        width: 80px;
        height: auto;
        border-radius: 10px;
    }

    .cart-item {
        width: 25%;
    }

    .orinoco, h1 {
        padding: 0;
    }
  }